.process {
    padding-bottom: 80px;
}

.process__inner {
    display: flex;
    gap: 40px;
    width: 750px;
}

.process__title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
    border-radius: 7px;
    padding: 0px 7px;
    min-width: 420px;
    height: max-content;
    font-weight: 500;
    font-size: 40px;
}

/* ------------------------------ */

.accordion {
    padding-bottom: 140px;
}

.accordion-list__item {
    box-shadow: 0 5px 0 0 var(--dark);
    background: var(--grey);
    border: 1px solid var(--dark);
    border-radius: 45px;
    margin: 0 auto;
    width: 1234px;
    margin-bottom: 30px;
    transition: all .4s;
}

.accordion-list__item--opened.accordion-list__item {
    background: var(--green);
}

.accordion-list__item:last-child {
    margin-bottom: 0;
}

.accordion-list__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    padding: 40px 60px;
    background: transparent;

    transition: all .4s;
}

.accordion-list__control-title {
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 25px;
}

.accordion-list__control-title span {
    font-size: 60px;
}

.accordion-list__control-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: #fff;
    width: 59px;
    height: 59px;
    border-radius: 100%;
    fill: var(--grey);
    border: 1px solid var(--dark);
    position: relative;
    transition: all .4s;
}

.accordion-list__control-icon::before,
.accordion-list__control-icon::after {
    content: '';
    background: var(--black);
    width: 26px;
    height: 7px;
    position: absolute;
    transition: all .2s;
}

.accordion-list__control-icon::after {
    content: '';
    transform: rotate(90deg);
}

.accordion-list__item--opened .accordion-list__control-icon::after {
    transform: rotate(0deg);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: all .4s;
}

.accordion-list__item--opened .accordion-list__content {
    transition: all .4s;
}

.accordion-content {
    padding: 0 60px 40px;
    display: flex;
    flex-direction: column;
    transition: all .4s;
    height: max-content;
}

.accordion-content__line {
    width: 100%;
    border-top: 1px solid var(--black);
    margin-bottom: 30px;
    transition: all .4s;
    opacity: 0;
    visibility: hidden;
}

.accordion-list__item--opened .accordion-content__line {
    opacity: 1;
    visibility: visible;
}