.team__head {
    padding-bottom: 80px;
}

.team__head-inner {
    display: flex;
    gap: 40px;
    width: 650px;
}

.team__head-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
    border-radius: 7px;
    padding: 0px 7px;
    min-width: max-content;
    height: max-content;
    font-weight: 500;
    font-size: 40px;
}

.team {
    padding-bottom: 100px;
}

.team__inner {
    display: grid;
    grid-template-columns: repeat(3, 387px);
    gap: 40px;
}

.team__card {
    box-shadow: 0 5px 0 0 var(--dark);
    background: #fff;
    border: 1px solid var(--dark);
    border-radius: 45px;
    padding: 40px 35px;
    width: 387px;
    position: relative;
}

.team__card-header {
    display: flex;
    gap: 20px;
    width: 317px;
}

.seperator {
    background: var(--black);
    width: 100%;
    height: 1px;
    margin: 28px 0;
}

.team__card-text {
    display: block;
    width: 285px;
}

.team__card-info {
    align-self: flex-end;
}

.team__card-title {
    font-weight: 500;
    font-size: 20px;
}

.team__card-icon {
    position: absolute;
    top: 12.16%;
    right: 9.1%;
}

.team__button {
    margin-top: 40px;
    margin: 40px 79.5% 0;
    width: 269px;
    height: 68px;
}