.gallery {
    padding-bottom: 140px;
}

.gallery__inner {
    display: grid;
    grid-template-columns: 1fr .95fr;
    margin-bottom: 40px;
    align-items: end;

}

.gallery__img {
    min-width: 470px;
    justify-self: center;
}

.gallery__content {
    display: grid;
    grid-template-columns: 1fr .4fr;
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    font-family: var(--second-family);
    font-size: 74px;
    line-height: .82;
    color: var(--zagolovochnyy);
    margin-bottom: 20px;
}

.gallery__nav {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 30px;
}

.gallery__pagination {
    font-family: var(--second-family);
    font-size: 42px;
    line-height: .9;
    text-align: center;
    color: var(--nabornyy);

    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__prev,
.gallery__next {
    background: transparent;
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--akcentnyy);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 1.50px solid var(--disabled);
}

.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: var(--disabled);
}

.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    border: 1.50px solid var(--disabled);
    background: none;
    cursor: auto;
}

.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
    fill: var(--disabled);
}

.gallery__prev:hover,
.gallery__next:hover {
    background: var(--akcentnyy);
    fill: var(--fonovyy-svetlyy);
}

.gallery__prev:hover path {
    fill: var(--fonovyy-svetlyy);
}

.gallery__next:hover path {
    fill: var(--fonovyy-svetlyy);
}

.gallery__slide {
    border-radius: 20px;
    overflow: hidden;
}

.gallery__slide img {
    width: 100%;
}