.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
    z-index: 0;
}

.header__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 30px;
    padding-top: 19px;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -13px;
    left: -13px;
    z-index: -1;

    border-radius: 100%;
    background: var(--akcentnyy);
    width: 34px;
    height: 34px;

    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    z-index: 10;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--nabornyy);
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    transform: rotate(45deg);
    top: 0;
}

.body--opened-menu .burger-icon span::after {
    transform: rotate(-45deg);
    bottom: 0;
}

/* ---------------------------------------- */

.hero {
    padding: 50px 0 140px;
}

.body--opened-menu {
    overflow: hidden;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 519px;
    width: 100%;
}

.hero__info {
    display: flex;
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #b197b2;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    margin: 0 10px;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__title {
    font-family: var(--second-family);
    font-size: 74px;
    line-height: .82;
    color: var(--zagolovochnyy);
    margin-bottom: 30px;
}

.hero__text {
    width: 360px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}

.hero__img {
    margin-right: 247px;
    position: relative;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;

    position: absolute;
    left: calc(99% - 34px);
    bottom: 11.5%;
}

.hero__img-control--mobile {
    display: none;
    text-align: left;
}

.hero__img-play {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 2%;

    border-radius: 100%;
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    width: 78px;
    height: 78px;

    position: relative;
}

.hero__img-play::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 100%;
    border: 1px solid var(--akcentnyy);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    opacity: 0;
    transition: all .7s;
}

.hero__img-play:hover:before {
    opacity: 1;
}