.program {
    padding-bottom: 140px;
}

.program-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 60px;
}

.program-top__title {
    padding-bottom: 20px;
}

.tab__controls {
    display: flex;
    gap: 26px;
}

.tab__controls-link {
    display: block;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);

    transition: all .4s;
}

.tab__controls-link:hover {
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}

.tab__controls-link--active {
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}

/* accordion */

.accordion__content {
    display: none;
    transition: all .4s;
}

.accordion {
    display: none;
    margin-bottom: 40px;
}

.accordion__content--show {
    display: block;
}

.accordion-list__item {
    border: 1px solid var(--akcentnyy);
    border-radius: 20px;
    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 30px;
}

.accordion-list__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    padding: 40px 30px;
    background: transparent;

    transition: all .4s;
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--akcentnyy);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.accordion-list__control-icon svg {
    transition: all .4s;
}

.accordion-list__control-icon path {
    transition: all .4s;
}

.accordion-list__control:hover .accordion-list__control-icon {
    transform: rotate(90deg);
    background: var(--akcentnyy);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--fonovyy-svetlyy);
}

.accordion-list__item--opened .accordion-list__control-icon {
    transform: rotate(90deg);
    background: var(--akcentnyy);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--fonovyy-svetlyy);
}

.accordion-list__control-title {
    text-align: left;
    font-family: var(--second-family);
    font-size: 42px;
    line-height: 90%;
    color: var(--zagolovochnyy);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: all .4s;
}

.accordion-list__item--opened .accordion-list__content {
    transition: all .4s;
}

.accordion-content {
    padding: 0px 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--akcentnyy-2);
    margin-bottom: 20px;
}

.accordion-content__item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid #CEAAD0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-content__text {
    max-width: 274px;
}

/* accordion end */

.program-bottom {
    display: flex;
}

.program__content {
    min-width: 500px;
    display: grid;
    grid-template-columns: 1fr .8fr;
    gap: 40px;
    margin-right: 93px;
}

.program__discount {
    background: var(--fonovyy);
    border-radius: 20px;
    width: 287px;
    height: 232px;
    padding: 40px;
    font-size: 20px;
}

.program__discount span:last-child {
    font-size: 16px;
    margin-left: 45%;
}

.program__discount-value {
    font-family: var(--second-family);
    font-size: 74px;
    line-height: .82;
    color: var(--akcentnyy);
    margin-left: 15%;
    animation: changeMargin .9s infinite alternate ease-in-out;
}

.program__col {
    min-width: 173px;
    justify-self: center;
}

.program__price {
    margin-bottom: 44px;
}

.program__price:last-child {
    margin-bottom: 0;
}

.program__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--akcentnyy-2);

    margin-bottom: 5px;
}

.program__price-value {
    font-family: var(--second-family);
    font-size: 32px;
    line-height: .9;
    color: var(--nabornyy);
}

.program__price:last-child .program__price-value {
    font-size: 50px;
}

.program__button {
    grid-column: span 2;
}

.program__img {
    overflow: hidden;
}

@keyframes changeMargin {
    0% {}

    100% {
        transform: translate(11%) scale(1.1);
        color: #ff9138;
    }
}