@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "gallery.css";
@import "about.css";
@import "program.css";
@import "reviews.css";
@import "footer.css";

/* --------------------------------- */
/* --------------------------------- */
/* --------------------------------- */

.application {
    padding-top: 120px;
    height: 786px;
    background: url("../img/decor/bg-footer.png") 50% 100% / cover no-repeat;
}

.application__inner {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

.application__img {
    margin-left: -30px;
    margin-bottom: -110px;
}

.application__img-cake {
    width: 100%;
}

.application__img-berry1 {
    position: absolute;
    top: 0;
    left: 0;
}

.application__img-berry2 {
    position: absolute;
    top: 40px;
    right: 0;
}

.application__content {
    max-width: 420px;
}

.application__form-title {
    font-family: var(--second-family);
    font-size: 74px;
    line-height: .82;
    color: var(--zagolovochnyy);
    margin-bottom: 20px;
}

.application__form-text {
    margin-bottom: 40px;
}

.application__form {
    display: grid;
    gap: 10px;
}

.application__label {
    position: relative;
}

.application__label span {
    position: absolute;
    color: var(--inputy);
    top: 12px;
    left: 28px;
    font-size: 11px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.application__input {
    border: 1px solid var(--inputy);
    border-radius: 100px;
    padding: 19px 79px 19px 28px;
    width: 100%;
    height: 62px;
    font-size: 15px;
    transition: all .4s;
    background: rgba(255, 224, 203, 0.02);
}

.application__input:focus {
    padding: 27px 79px 12px 28px;
}

.application__input:last-child:focus {
    padding: 19px 79px 19px 28px;
}

.application__input:focus+span {
    opacity: 1;
    visibility: visible;
}

.application__input:hover {
    border: 1px solid var(--akcentnyy);
}

.application__input::placeholder {
    color: var(--inputy);
    transition: all .4s;
}

.application__input:hover::placeholder {
    color: var(--akcentnyy);
}


.application__checkbox {
    display: flex;
    width: 288px;
    gap: 5px;
    padding: 10px 0;
}

.application__checkbox a {
    transition: all .4s;
}

.application__checkbox a:hover {
    color: var(--akcentnyy);
}

.application__checkbox label {
    font-size: 13px;
}

.checkbox {
    appearance: none;
    border: 1.50px solid var(--inputy);
    border-radius: 4px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    cursor: pointer;
    transition: all .2s;
    position: relative;
}

.checkbox::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url("../img/icons/check.svg") 50% 50% no-repeat;
    transition: all .4s;
    opacity: 0;
}

.checkbox:hover {
    border-color: var(--akcentnyy);
}

.checkbox:checked {
    border-color: var(--akcentnyy);
    background: var(--akcentnyy);
}

.checkbox:checked::before {
    opacity: 1;
}

.application__button {
    width: 100%;
}

/* --------------------------------- */
/* --------------------------------- */
/* --------------------------------- */

/* header */
@media (max-width: 1400px) {
    .header__inner {
        margin: 0 50px;
    }

    .hero__inner {
        margin: 0 50px;
    }

    .hero__img {
        margin: 0;
    }

    .hero__img-control {
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: none;
        position: static;
        padding-top: 30px;
    }
}

@media (max-width: 950px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--fonovyy-svetlyy);
        padding: 25vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 1;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }
}

@media (max-width: 880px) {
    .hero {
        padding-bottom: 80px;
    }

    .hero__img {
        display: none;
    }

    .hero__inner {
        justify-content: center;
        align-items: center;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero__text {
        margin: 0;
    }

    .hero__img-control--mobile {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 20px;
    }
}

@media (max-width: 640px) {
    .hero__inner {
        margin: 0;
    }

    .hero__title {
        font-size: 10vw;
    }

    .hero__text {
        font-size: 14px;
        width: 80%;
    }

    .hero__img-control--mobile {
        font-size: 14px;
        max-width: 80%;
    }

    .hero__img-control--mobile img {
        height: 20px;
    }

    .hero__img-play {
        width: 60px;
        height: 60px;
    }

    .hero__button {
        display: flex;
        align-items: center;
        width: 80%;
        font-size: 14px;
        height: 55px;
    }

    /* ----------- */


}

@media (max-width: 400px) {
    .hero {
        padding-bottom: 50px;
    }
}

/* program */
@media (max-width: 1290px) {
    .program__content {
        margin: 0 auto;
    }

    .program__img img {
        width: 100%;
        margin-top: 10%;
    }
}

@media (max-width: 1160px) {
    .program-top {
        display: grid;
        grid-template-columns: 1fr;
    }

    .tab__controls {
        justify-self: end;
        margin-top: -52px;
    }
}

@media (max-width: 1040px) {
    .program-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-bottom: 40px;
    }

    .tab__controls {
        margin: 0;
    }

    .program-top__title {
        text-align: center;
    }

    .program-top__text {
        margin: 0;
        font-size: 19px;
        text-align: center;
    }

    .accordion {
        margin: 0 auto;
    }

    .accordion {
        width: 700px;
    }

    .program__img {
        display: none;
    }
}

@media (max-width: 735px) {
    .program-top__text {
        font-size: 2.5vw;
    }

    .accordion {
        width: 90vw;
    }

    .tab__controls {
        gap: 10px;
    }

    .accordion-content {
        padding: 0px 20px 30px;
        gap: 20px;
    }
}

@media (max-width: 660px) {
    .program-top {
        gap: 30px;
    }

    .program-top__text {
        font-size: 3vw;
    }

    .accordion-list__control-title {
        font-size: 6.5vw;
    }
}

@media (max-width: 600px) {
    .tab__controls {
        display: grid;
        gap: 20px 40px;
        grid-template-columns: 1fr 1fr;
    }

    .accordion-content__title {
        margin-bottom: 10px;
    }

    .tab__controls-item {
        display: flex;
        text-align: center;
        width: 200px;
    }

    .tab__controls-link {
        width: 100%;
    }

    .accordion-list__control {
        padding: 30px 20px;
    }

    .program__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 50vw;
    }

    .program__discount {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 30px;
        width: 90vw;
        height: 40vw;
    }

    .program__discount-value {
        margin-left: 0;
    }

    .program__col {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .program__price {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .program__button {
        width: 100%;
    }
}

@media (max-width: 535px) {
    .program-top {
        padding-bottom: 30px;
    }

    .program-top__title {
        font-size: 13.5vw;
    }

    .program-top__text {
        font-size: 3.7vw;
    }

    .tab__controls {
        gap: 20px;
    }

    .accordion-content__col {
        font-size: 3.2vw;
    }

    .accordion-content__item {
        margin-bottom: 10px;
    }

}

@media (max-width: 450px) {
    .tab__controls {
        gap: 10px;
    }

    .tab__controls-item {
        width: 43vw;
    }

    .accordion-list__control-icon {
        width: 30px;
        height: 30px;
    }

    .accordion-list__control-icon svg {
        width: 12px;
        height: 12px;
    }

    .accordion-content {
        gap: 15px;
        padding: 0px 15px 20px;
    }

    .accordion-content__item {
        margin-bottom: 5px;
    }

    .accordion-content__icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .program__content {
        gap: 30px;
    }

    .program__discount {
        width: 90vw;
        height: 45vw;
    }

    .program__col {
        flex-direction: column;
    }

    .program__price {
        max-width: 300px;
        align-items: end;
    }

    .program__price:last-child .program__price-value {
        font-size: 40px;
    }
}

@media (max-width: 375px) {
    .program-top__title {
        font-size: 13vw;
    }

    .accordion-content {
        gap: 5px;
    }

    .accordion-list__control-title {
        font-size: 6.9vw;
    }

    .accordion-list__control {
        padding: 30px 15px;
    }

    .program__discount {
        width: 90vw;
        height: 60vw;
    }

    .program__discount:first-child {
        font-size: 5.4vw;
    }
}

/* gallery */
@media (max-width: 1200px) {
    .gallery__inner {
        gap: 30px;
        grid-template-columns: .7fr 1fr;
    }

    .gallery__img {
        align-self: center;
        min-width: 0;
        max-width: 400px;
    }
}

@media (max-width: 1000px) {
    .program {
        padding-bottom: 80px;
    }

    .gallery__content {
        grid-template-columns: 1fr;
    }

    .gallery__inner {
        grid-template-columns: 1fr;
    }

    .gallery__info {
        justify-self: center;
        margin-bottom: 20px;
    }

    .gallery__img {
        display: none;
    }

    .gallery__info {
        max-width: 700px;
        font-size: 18px;
    }

    .gallery__title {
        text-align: center;
    }

    .gallery__text {
        text-align: center;
    }

    .gallery__nav {
        grid-row: 2;
        max-width: 200px;
        justify-self: center;
    }
}

@media (max-width: 520px) {
    .gallery__inner {
        margin-bottom: 25px;
    }

    .gallery__title {
        font-size: 14vw;
        margin-bottom: 10px;
    }

    .gallery__text {
        font-size: 3.5vw;
    }
}

@media (max-width: 410px) {
    .gallery__text {
        font-size: 4.4vw;
    }

    .gallery__pagination {
        align-self: center;
        font-size: 9vw;
    }
}

/* reviews */
@media (max-width: 620px) {
    .gallery {
        padding-bottom: 80px;
    }

    .reviews__slide {
        flex-direction: column;
        gap: 15px;
    }

    .reviews__inner {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        gap: 15px;
        margin-bottom: 40px;
    }

    .reviews__student {
        align-items: center;
    }

    .reviews__title {
        text-align: center;
        font-size: 14vw;
    }

    .reviews__text {
        text-align: center;
        font-size: 3.5vw;
    }

    .reviews__quote span {
        font-size: 7vw;
    }

    .reviews__quote {
        text-align: center;
        align-self: center;
        font-size: 3.6vw;
        width: 85vw;
    }
}

@media (max-width: 520px) {
    .reviews__inner {
        margin-bottom: 20px;
    }

    .reviews__wrapper {
        height: 75vh;
    }

    .reviews__student-img {
        width: 30vw;
    }

    .reviews__slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .reviews__nav {
        margin: 0 auto;
        gap: 50px;
    }

    .reviews__quote span {
        font-size: 9vw;
    }

    .reviews__quote {
        font-size: 4vw;
    }
}

@media (max-width: 410px) {
    .reviews__wrapper {
        height: 65vh;
    }

    .reviews__text {
        font-size: 4.4vw;
    }
}

/* footer */
@media (max-width: 960px) {
    .footer__inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__column {
        justify-self: center;
    }

    .footer__copy {
        display: none;
    }

    .footer__copy--mobile {
        display: flex;
        justify-self: center;
        grid-column: 1/-1;
    }

    .socials__link svg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 640px) {
    .footer {
        padding: 60px 0 40px;
        font-size: 18px;
    }

    .footer__inner {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .footer__column:first-child {
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer__logo-text {
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }

    .socials__link svg {
        width: 50px;
        height: 50px;
    }

    .footer__list {
        font-size: 22px;
        text-align: center;
    }

    .footer__info-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer__tel {
        padding-bottom: 0;
    }
}

@media (max-width: 390px) {
    .footer__logo-text {
        font-size: 5vw;
    }

    .footer__info-list {
        font-size: 15px;
    }

    .socials__link svg {
        width: 45px;
        height: 45px;
    }

    .footer__info-item {
        display: flex;
        max-width: 180px;
    }
}

/* application */
@media (max-width: 1315px) {
    .application__inner {
        justify-content: center;
    }

    .application__img-berry1 {
        left: 3vw;
        top: 50px;
    }

    .application__img-berry2 {
        right: 5vw;
        top: 270px;
    }

    .application__img {
        display: none;
    }
}

@media (max-width: 770px) {

    .application__img-berry1,
    .application__img-berry2 {
        display: none;
    }
}

@media (max-width: 450px) {
    .reviews {
        padding-bottom: 80px;
    }

    .application__form-title {
        text-align: center;
        font-size: 15vw;
    }

    .application__form-text {
        text-align: center;
        margin-bottom: 20px;
        font-size: 4.4vw;
    }

    .application__label {
        justify-self: center;
        width: 85vw;
    }

    .application__input {
        height: 95%;
    }

    .application__checkbox {
        width: 85vw;
        margin: 0 auto;
    }

    .application__checkbox label {
        /* font-size: 3vw; */
    }

    .application__button {
        justify-self: center;
        width: 85vw;
    }
}

/* modal window */
@media (max-width: 1315px) {
    .about__img>img {
        object-position: 15% 50%;
    }
}

@media (max-width: 1040px) {
    .about {
        padding: 80px 0;
    }

    .about__inner {
        grid-template-columns: 1fr;
    }

    .about__img {
        grid-row: 2;
        justify-self: center;
    }

    .about__content {
        justify-self: center;
    }
}

@media (max-width: 670px) {
    .about__inner {
        gap: 30px;
    }

    .about__img>img {
        display: none;
    }

    .about__img-gift {
        position: static;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        max-width: 80vw;
    }

    .about__title {
        text-align: center;
        margin: 0 auto;
        width: 80vw;
    }

    .about__text {
        margin: 0 auto;
        text-align: center;
        width: 80vw;
    }

    .about__features {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .about__section {
        width: 80vw;
        justify-self: center;
        display: flex;
        justify-content: left;
    }
}

@media (max-width: 500px) {
    .about {
        padding: 80 15px;
        padding: 60px 0;
    }

    .about__overview {
        padding-bottom: 25px;
    }

    .about__title {
        padding-bottom: 20px;
    }

    .about__title h2 {
        text-align: left;
        font-size: 13vw;
    }

    .about__title p {
        font-size: 3.4vw;
    }

    .about__text {
        font-size: 3.4vw;
        max-width: 400px;
        text-align: left;
    }


    .about__section {
        font-size: 3.4vw;
        height: 100px;
    }

    .about__img-gift {
        font-size: 3.4vw;
    }
}

@media (max-width: 450px) {
    .modal__window {
        width: 90%;
        height: 100vw;
    }

    .modal__img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .modal__img img {
        width: 50vw;
    }

    .modal__content {
        padding-bottom: 10px;
        width: 110%;
        margin: 0 -10px;
    }

    .modal__title {
        font-size: 9vw;
        text-align: center;
    }

    .title__text {
        font-size: 4vw;
        text-align: center;
    }

    .modal__label {
        justify-self: center;
        width: 120%;
    }

    .modal__button {
        justify-self: center;
        width: 120%;
    }

}

@media (max-width: 400px) {
    .modal__content {
        width: 112%;
    }

    .modal__button {
        font-size: 4vw;
        align-items: center;
    }
}

@media (max-width: 370px) {
    .modal__window {
        height: 115vw;
    }

    .modal__form {
        gap: 2px;
    }

    .modal__label {
        height: 90%;
    }

    .modal__input {
        height: 100%;
    }

    .modal__button {
        height: 90%;
    }
}