:root {
    --akcentnyy: #ffa55c;
    --akcentnyy-2: #ceaad0;
    --fonovyy: #ffe0cb;
    --fonovyy-svetlyy: #fff9f4;
    --zagolovochnyy: #1f1711;
    --nabornyy: #312c27;
    --fioletovyy: #704174;
    --disabled: #e1d9e1;
    --inputy: #ac907a;
    --second-family: "Gabriola", sans-serif;
    --third-family: "Inspiration", sans-serif;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--nabornyy);
    background: var(--fonovyy-svetlyy);
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;
    line-height: 82%;
    color: var(--zagolovochnyy);
}

.button {
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 60px;
    padding: 18px 36px;
    height: 62px;
    background: var(--akcentnyy);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    transition: all .7s;
}

.button:hover {
    background: #ff9138;
}

.modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    background: var(--fonovyy-svetlyy);
    border-radius: 20px;
    padding: 0 60px 60px;
    width: 428px;
    height: 491px;
    position: relative;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal__cancel path,
.modal__cancel rect {
    transition: all .7s;
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: var(--inputy);
}

.modal__img {
    padding-left: 12px;
    margin-top: -65px;
    padding-bottom: 15px;
}

.modal__content {
    display: grid;
    gap: 10px;
    padding-bottom: 30px;
}

.modal__title {
    font-family: var(--second-family);
    font-size: 42px;
    line-height: .9;
    color: var(--zagolovochnyy);
}

.modal__form {
    display: grid;
    gap: 10px;
}

.modal__label {
    position: relative;
}

.modal__label span {
    position: absolute;
    color: var(--inputy);
    top: 12px;
    left: 28px;
    font-size: 11px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.modal__input {
    border: 1px solid var(--inputy);
    border-radius: 100px;
    padding: 19px 79px 19px 28px;
    width: 100%;
    height: 62px;
    font-size: 15px;
    transition: all .4s;
    background: rgba(255, 224, 203, 0.02);
}

.modal__input:focus {
    padding: 27px 79px 12px 28px;
}

.modal__input:focus+span {
    opacity: 1;
    visibility: visible;
}

.modal__input:hover {
    border: 1px solid var(--akcentnyy);
}

.modal__input::placeholder {
    color: var(--inputy);
    transition: all .4s;
}

.modal__input:hover::placeholder {
    color: var(--akcentnyy);
}

.modal__button {
    width: 100%;
}

/* -------------------------- */

.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
    z-index: 0;
}

.header__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 30px;
    padding-top: 19px;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -13px;
    left: -13px;
    z-index: -1;

    border-radius: 100%;
    background: var(--akcentnyy);
    width: 34px;
    height: 34px;

    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    z-index: 10;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--nabornyy);
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    transform: rotate(45deg);
    top: 0;
}

.body--opened-menu .burger-icon span::after {
    transform: rotate(-45deg);
    bottom: 0;
}

/* ----------------------------------- */

.hero {
    padding: 50px 0 140px;
}

.body--opened-menu {
    overflow: hidden;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 519px;
    width: 100%;
}

.hero__info {
    display: flex;
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #b197b2;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    margin: 0 10px;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__title {
    font-family: var(--second-family);
    font-size: 74px;
    line-height: .82;
    color: var(--zagolovochnyy);
    margin-bottom: 30px;
}

.hero__text {
    width: 360px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}

.hero__img {
    margin-right: 247px;
    position: relative;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;

    position: absolute;
    left: calc(99% - 34px);
    bottom: 11.5%;
}

.hero__img-control--mobile {
    display: none;
    text-align: left;
}

.hero__img-play {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 2%;

    border-radius: 100%;
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    width: 78px;
    height: 78px;

    position: relative;
}

.hero__img-play::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 100%;
    border: 1px solid var(--akcentnyy);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    opacity: 0;
    transition: all .7s;
}

.hero__img-play:hover:before {
    opacity: 1;
}

/* ======================== */
/* ======================== */
/* ======================== */

.about {
    padding: 140px 0;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 53px;
}

.about__img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.about__img-gift {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 10px;
    bottom: 4.6%;
    left: 5%;
    background: rgba(149, 123, 151, 0.9);
    color: var(--fonovyy-svetlyy);
    border-radius: 20px;
    padding: 15px 20px;
    max-width: 299px;
    height: 108px;
}

.about__gift-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--fonovyy-svetlyy);
    position: relative;
}

.about__gift-icon::before {
    content: '';
    position: absolute;
    border: 1px solid var(--akcentnyy-2);
    border-radius: 50%;
    inset: 5px;
    opacity: 0;
    overflow: hidden;
    transition: all .3s;
}

.about__gift-icon:hover::before {
    opacity: 1;
}

.about__overview {
    max-width: 623px;
    padding-bottom: 40px;
}

.about__title {
    padding-bottom: 30px;
}

.about__title h2 {
    font-family: "Gabriola", sans-serif;
    font-size: 74px;
    line-height: .82;
    color: var(--zagolovochnyy);
}

.about__features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    max-width: 624px;
}

.about__features--mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    max-width: 624px;
    display: none;
}

.about__section {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 29px 23px;
    background: var(--fonovyy);
    border-radius: 20px;
}

.about__section-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--nabornyy);
}

/* --------------------------------- */
/* --------------------------------- */
/* --------------------------------- */

.program {
    padding-bottom: 140px;
}

.program-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 60px;
}

.program-top__title {
    padding-bottom: 20px;
}

.tab__controls {
    display: flex;
    gap: 26px;
}

.tab__controls-link {
    display: block;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);

    transition: all .4s;
}

.tab__controls-link:hover {
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}

.tab__controls-link--active {
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}

/* accordion */

.accordion__content {
    display: none;
    transition: all .4s;
}

.accordion {
    display: none;
    margin-bottom: 40px;
}

.accordion__content--show {
    display: block;
}

.accordion-list__item {
    border: 1px solid var(--akcentnyy);
    border-radius: 20px;
    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 30px;
}

.accordion-list__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    padding: 40px 30px;
    background: transparent;

    transition: all .4s;
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--akcentnyy);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.accordion-list__control-icon svg {
    transition: all .4s;
}

.accordion-list__control-icon path {
    transition: all .4s;
}

.accordion-list__control:hover .accordion-list__control-icon {
    transform: rotate(90deg);
    background: var(--akcentnyy);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--fonovyy-svetlyy);
}

.accordion-list__item--opened .accordion-list__control-icon {
    transform: rotate(90deg);
    background: var(--akcentnyy);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--fonovyy-svetlyy);
}

.accordion-list__control-title {
    text-align: left;
    font-family: var(--second-family);
    font-size: 42px;
    line-height: 90%;
    color: var(--zagolovochnyy);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: all .4s;
}

.accordion-list__item--opened .accordion-list__content {
    transition: all .4s;
}

.accordion-content {
    padding: 0px 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--akcentnyy-2);
    margin-bottom: 20px;
}

.accordion-content__item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid #CEAAD0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-content__text {
    max-width: 274px;
}

/* accordion end */

.program-bottom {
    padding-bottom: 140px;
    display: flex;
}

.program__content {
    min-width: 500px;
    display: grid;
    grid-template-columns: 1fr .8fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    margin-right: 93px;
}

.program__discount {
    background: var(--fonovyy);
    border-radius: 20px;
    width: 287px;
    height: 232px;
    padding: 40px;
    font-size: 20px;
}

.program__discount span:last-child {
    font-size: 16px;
    margin-left: 45%;
}

.program__discount-value {
    font-family: var(--second-family);
    font-size: 74px;
    line-height: .82;
    color: var(--akcentnyy);
    margin-left: 15%;
    animation: changeMargin .9s infinite alternate ease-in-out;
}

.program__col {
    min-width: 173px;
    justify-self: center;
}

.program__price {
    margin-bottom: 44px;
}

.program__price:last-child {
    margin-bottom: 0;
}

.program__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--akcentnyy-2);

    margin-bottom: 5px;
}

.program__price-value {
    font-family: var(--second-family);
    font-size: 32px;
    line-height: .9;
    color: var(--nabornyy);
}

.program__price:last-child .program__price-value {
    font-size: 50px;
}

.program__button {
    grid-column: span 2;
}

.program__img {
    overflow: hidden;
}

@keyframes changeMargin {
    0% {}

    100% {
        transform: translate(11%) scale(1.1);
        color: #ff9138;
    }
}

/* --------------------------------- */
/* --------------------------------- */
/* --------------------------------- */

.footer {
    background: #AB8261;
    color: var(--fonovyy-svetlyy);
    padding: 60px 0 60px;
}

.footer__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 15px;
}

.footer__column:first-child {
    margin-top: -30px;
}

.footer__logo {
    max-width: 240px;
}

.socials {
    padding-top: 20px;
}

.socials__list {
    display: flex;
    gap: 15px;
}

.socials__link path {
    transition: all .4s;
}

.socials__link:hover path {
    fill: var(--akcentnyy);
}

.footer__list-item {
    padding-bottom: 20px;
}

.footer__list-item:last-child {
    padding-bottom: 0;
}

.footer__list-link {
    display: block;
    position: relative;
    z-index: 1;
}

.footer__list-link::before {
    content: '';
    position: absolute;
    top: -13px;
    left: -13px;
    z-index: -1;

    border-radius: 100%;
    background: var(--akcentnyy);
    width: 34px;
    height: 34px;

    opacity: 0;
    transition: all .4s;
}

.footer__list-link:hover::before {
    opacity: 1;
}

.footer__info-item {
    display: flex;
    padding-bottom: 10px;
}

.footer__info-item span {
    padding-right: 10px;
    padding-left: 8px;
}

.footer__tel {
    text-align: center;
    padding-bottom: 47px;
}

.footer__number {
    font-weight: 500;
    font-size: 24px;
}

.footer__copy {
    color: #dec5b1;
    text-align: center;
}

.footer__copy--mobile {
    display: none;
    color: #dec5b1;
    text-align: center;
}

/* --------------------------------- */
/* --------------------------------- */
/* --------------------------------- */

/* header */
@media (max-width: 1400px) {
    .header__inner {
        margin: 0 50px;
    }

    .hero__inner {
        margin: 0 50px;
    }

    .hero__img {
        margin: 0;
    }

    .hero__img-control {
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: none;
        position: static;
        padding-top: 30px;
    }
}

@media (max-width: 950px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--fonovyy-svetlyy);
        padding: 25vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 1;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }
}

@media (max-width: 880px) {
    .hero {
        padding-bottom: 80px;
    }

    .hero__img {
        display: none;
    }

    .hero__inner {
        justify-content: center;
        align-items: center;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero__text {
        margin: 0;
    }

    .hero__img-control--mobile {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 20px;
    }
}

@media (max-width: 640px) {
    .hero__inner {
        margin: 0;
    }

    .hero__title {
        font-size: 10vw;
    }

    .hero__text {
        font-size: 14px;
        width: 80%;
    }

    .hero__img-control--mobile {
        font-size: 14px;
        max-width: 80%;
    }

    .hero__img-control--mobile img {
        height: 20px;
    }

    .hero__img-play {
        width: 60px;
        height: 60px;
    }

    .hero__button {
        display: flex;
        align-items: center;
        width: 80%;
        font-size: 14px;
        height: 55px;
    }

    /* ----------- */


}

@media (max-width: 400px) {
    .hero {
        padding-bottom: 50px;
    }
}

/* program */

@media (max-width: 1290px) {
    .program__content {
        margin: 0 auto;
    }

    .program__img img {
        width: 100%;
        margin-top: 10%;
    }
}

@media (max-width: 1160px) {
    .program-top {
        display: grid;
        grid-template-columns: 1fr;
    }

    .tab__controls {
        justify-self: end;
        margin-top: -52px;
    }
}

@media (max-width: 1040px) {
    .program-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-bottom: 40px;
    }

    .tab__controls {
        margin: 0;
    }

    .program-top__title {
        text-align: center;
    }

    .program-top__text {
        margin: 0;
        font-size: 2.5vw;
        text-align: center;
    }

    .accordion {
        margin: 0 auto;
    }

    .accordion {
        width: 700px;
    }

    .program__img {
        display: none;
    }
}

@media (max-width: 735px) {
    .accordion {
        width: 90vw;
    }

    .tab__controls {
        gap: 10px;
    }

    .accordion-content {
        padding: 0px 20px 30px;
        gap: 20px;
    }
}

@media (max-width: 660px) {
    .program-top {
        gap: 30px;
    }

    .program-top__text {
        font-size: 3vw;
    }

    .accordion-list__control-title {
        font-size: 6.5vw;
    }
}

@media (max-width: 600px) {
    .tab__controls {
        display: grid;
        gap: 20px 40px;
        grid-template-columns: 1fr 1fr;
    }

    .accordion-content__title {
        margin-bottom: 10px;
    }

    .tab__controls-item {
        display: flex;
        text-align: center;
        width: 200px;
    }

    .tab__controls-link {
        width: 100%;
    }

    .accordion-list__control {
        padding: 30px 20px;
    }

    .program__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 50vw;
    }

    .program__discount {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 30px;
        width: 90vw;
        height: 40vw;
    }

    .program__discount-value {
        margin-left: 0;
    }

    .program__col {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .program__price {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .program__button {
        width: 100%;
    }
}

@media (max-width: 535px) {
    .program-top {
        padding-bottom: 30px;
    }

    .program-top__title {
        font-size: 13.5vw;
    }

    .program-top__text {
        font-size: 3.7vw;
    }

    .tab__controls {
        gap: 20px;
    }

    .accordion-content__col {
        font-size: 2.9vw;
    }

    .accordion-content__item {
        margin-bottom: 10px;
    }

}

@media (max-width: 450px) {
    .tab__controls {
        gap: 10px;
    }

    .tab__controls-item {
        width: 43vw;
    }

    .accordion-list__control-icon {
        width: 30px;
        height: 30px;
    }

    .accordion-list__control-icon svg {
        width: 12px;
        height: 12px;
    }

    .accordion-content {
        gap: 15px;
        padding: 0px 15px 20px;
    }

    .accordion-content__item {
        margin-bottom: 5px;
    }

    .accordion-content__icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .program__content {
        gap: 30px;
    }

    .program__discount {
        width: 90vw;
        height: 45vw;
    }

    .program__col {
        flex-direction: column;
    }

    .program__price {
        max-width: 300px;
        align-items: end;
    }

    .program__price:last-child .program__price-value {
        font-size: 40px;
    }
}

@media (max-width: 375px) {
    .program-top__title {
        font-size: 13vw;
    }

    .accordion-list__control-title {
        font-size: 6.9vw;
    }

    .accordion-list__control {
        padding: 30px 15px;
    }

    .program__discount {
        width: 90vw;
        height: 60vw;
    }

    .program__discount:first-child {
        font-size: 5.4vw;
    }
}

/* footer */
@media (max-width: 960px) {
    .footer__inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__column {
        justify-self: center;
    }

    .footer__copy {
        display: none;
    }

    .footer__copy--mobile {
        display: flex;
        justify-self: center;
        grid-column: 1/-1;
    }

    .socials__link svg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 640px) {
    .footer {
        padding: 60px 0 40px;
        font-size: 18px;
    }

    .footer__inner {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .footer__column:first-child {
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer__logo-text {
        font-size: 20px;
    }

    .socials__link svg {
        width: 50px;
        height: 50px;
    }

    .footer__list {
        font-size: 22px;
        text-align: center;
    }

    .footer__info-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer__tel {
        padding-bottom: 0;
    }
}

@media (max-width: 390px) {
    .footer__logo-text {
        font-size: 5vw;
    }

    .footer__info-list {
        font-size: 15px;
    }

    .socials__link svg {
        width: 45px;
        height: 45px;
    }
}


/* modal window */
@media (max-width: 1315px) {
    .about__img>img {
        object-position: 15% 50%;
    }
}

@media (max-width: 1040px) {
    .about {
        padding: 80px 0;
    }

    .about__inner {
        grid-template-columns: 1fr;
    }

    .about__img {
        grid-row: 2;
        justify-self: center;
    }

    .about__content {
        justify-self: center;
    }
}

@media (max-width: 670px) {
    .about__inner {
        gap: 30px;
    }

    .about__img>img {
        display: none;
    }

    .about__img-gift {
        position: static;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        max-width: 80vw;
    }

    .about__title {
        text-align: center;
        margin: 0 auto;
        width: 80vw;
    }

    .about__text {
        margin: 0 auto;
        text-align: center;
        width: 80vw;
    }

    .about__features {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .about__section {
        width: 80vw;
        justify-self: center;
        display: flex;
        justify-content: left;
    }
}

@media (max-width: 500px) {
    .about {
        padding: 80 15px;
        padding: 60px 0;
    }

    .about__overview {
        padding-bottom: 25px;
    }

    .about__title {
        padding-bottom: 20px;
    }

    .about__title h2 {
        text-align: left;
        font-size: 13vw;
    }

    .about__title p {
        font-size: 3.4vw;
    }

    .about__text {
        font-size: 3.4vw;
        max-width: 400px;
        text-align: left;
    }


    .about__section {
        font-size: 3.4vw;
        height: 100px;
    }

    .about__img-gift {
        font-size: 3.4vw;
    }
}

@media (max-width: 450px) {
    .modal__window {
        width: 90%;
        height: 100vw;
    }

    .modal__img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .modal__img img {
        width: 50vw;
    }

    .modal__content {
        padding-bottom: 10px;
        width: 110%;
        margin: 0 -10px;
    }

    .modal__title {
        font-size: 9vw;
        text-align: center;
    }

    .title__text {
        font-size: 4vw;
        text-align: center;
    }

    .modal__label {
        justify-self: center;
        width: 120%;
    }

    .modal__button {
        justify-self: center;
        width: 120%;
    }

}

@media (max-width: 400px) {
    .modal__content {
        width: 112%;
    }

    .modal__button {
        font-size: 4vw;
        align-items: center;
    }
}

@media (max-width: 370px) {
    .modal__window {
        height: 115vw;
    }

    .modal__form {
        gap: 2px;
    }

    .modal__label {
        height: 90%;
    }

    .modal__input {
        height: 100%;
    }

    .modal__button {
        height: 90%;
    }
}