.cards {
    padding-bottom: 100px;
}

.cards__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.card {
    box-shadow: 0 5px 0 0 var(--dark);
    background: var(--grey);
    border: 1px solid var(--dark);
    border-radius: 45px;
    padding: 50px;
    width: 600px;
    height: 310px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: all .4s;
}

.card:hover {
    transform: scale(1.01);
}

.card:nth-child(2),
.card:nth-child(5) {
    background: var(--green);
}

.card:nth-child(2) span,
.card:nth-child(5) span {
    background: #fff;
}

.card:nth-child(3),
.card:nth-child(6) {
    background: var(--dark);
}

.card:nth-child(3) p,
.card:nth-child(6) p {
    color: #fff;
}

.card:nth-child(3) span {
    background: #fff;
}

.card:nth-child(6) span {
    background: var(--green);
}

.card__title {
    width: 210px;
    font-weight: 500;
    font-size: 30px;
}

.card__title span {
    display: flex;
    align-items: center;
    background: var(--green);
    border-radius: 7px;
    padding: 0px 7px;
    width: max-content;
    height: 38px;
}

.card__title span:last-child {
    width: max-content;
}

.learn-more {
    grid-column: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    transition: all .4s;
    width: max-content;
}

.learn-more:hover {
    transform: scale(1.05);
}

.card__img {
    align-self: center;
    justify-self: right;
    grid-column: 2;
    grid-row: 2/-2;
}

/* ========================= */
/* ========================= */
/* ========================= */

.proposal {
    padding: 25px 0 140px;
}

.proposal__inner {
    padding: 25px 0;
    background: var(--grey);
    border-radius: 45px;
    padding: 60px 60px;

    position: relative;
}

.proposal__content {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.proposal__title {
    font-weight: 500;
    font-size: 30px;
}

.proposal__button {
    width: 288px;
    min-height: 68px;
}

.proposal__button--mobile {
    display: none;
}

.proposal__img {
    position: absolute;
    top: -20px;
    right: 10%;
}

.proposal__img img {
    width: 100%;
}

/* ========================= */
/* ========================= */
/* ========================= */

