.header {
    background: url('../img/background/header-bg.jpg') 50% 100% / cover no-repeat;
    margin-bottom: 89px;
}

.header__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 58px;
}

.header__logo a,
.header__name a {
    padding: 15px 0;
}

.header__name {
    justify-self: center;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav__item {
    font-family: var(--font-family);
    font-weight: 600;
    text-align: right;
    color: #fff;
}

.nav__item a {
    padding: 5px 0;
}

/* ============================== */
/* hero */

.hero {
    padding: 215px 145px 198px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 781px;
}

.hero__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 64px;
    color: #fff;
}

.hero__title span {
    background: linear-gradient(90deg, #9945ff 8%, #8752f3 30%, #5497d5 50%, #43b4ca 60%, #28e0b9 72%, #19fb9b 97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__text {
    font-family: var(--font-family);
    line-height: 1.87;
    color: #fff;
}

.hero__buttons {
    display: flex;
    gap: 30px;
}

.hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 15px 40px;
    font-family: var(--font-family);
    color: #000;
}

.negative {
    background: none;
    color: #fff;
    border: 1px solid #fff;
}