@import url('../css/global.css');
@import url('../css/header.css');
@import url('../css/cards.css');

:root {
    --green: #b9ff66;
    --grey: #f3f3f3;
    --dark: #191a23;
    --black: #000;
    --vs-primary: 29 92 255;
}

/* ========================= */
/* ========================= */
/* ========================= */

.case {
    padding-bottom: 80px;
}

.case__inner {
    display: flex;
    gap: 40px;
    width: 820px;
}

.case__title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
    border-radius: 7px;
    padding: 0px 7px;
    min-width: 265px;
    height: max-content;
    font-weight: 500;
    font-size: 40px;
}

/* ========================= */
/* ========================= */
/* ========================= */

.case {
    padding-bottom: 80px;
}

.case__inner {
    display: flex;
    gap: 40px;
    width: 820px;
}

.case__title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
    border-radius: 7px;
    padding: 0px 7px;
    min-width: 265px;
    height: max-content;
    font-weight: 500;
    font-size: 40px;
}

/* ========================= */
/* ========================= */
/* ========================= */

.studies {
    padding-bottom: 140px;
}

.swiper {
    background: var(--dark);
    border-radius: 45px;
    padding: 70px 60px;
    width: 100%;
    height: 326px;
    overflow: hidden;
}

.swiper-mobile {
    display: none;
}

.swiper-wrapper {
    display: flex;
}

.swiper-wrapper img {
    margin-right: 64px;
    transition: all .4s;
}

.swiper-slide {
    cursor: default;
    width: 286px;
    margin-right: 64px;
    position: relative;
}

.swiper-slide-prev+img {
    opacity: 0;
    margin-left: -30px;
}

.swiper-wrapper img {
    transition: all .4s;
}

.swiper-slide__text {
    color: #fff;
    margin-bottom: 20px;
    width: 286px;
}

.swiper-slide__link {
    color: var(--green);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* ========================= */
/* ========================= */
/* ========================= */

@media (max-width: 1300px) {
    .header {
        padding-bottom: 70px;
    }

    .companies-list {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        gap: 30px;
        justify-content: center;
    }

    .companies-item {
        justify-self: end;
    }

    .companies-item:nth-child(4),
    .companies-item:nth-child(5),
    .companies-item:nth-child(6) {
        justify-self: left;
        grid-row: 2;
    }

    .services {
        display: flex;
    }

    .case {
        display: flex;
    }

    .cards {
        padding-bottom: 60px;
    }

    .cards__inner {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .card {
        width: 90vw;
    }

    .proposal {
        padding-bottom: 60px;
    }

    .case {
        padding-bottom: 40px;
    }

    .studies {
        padding-bottom: 60px;
    }

    .swiper {
        display: none;
        background: initial;
        border-radius: initial;
        padding: initial;
        width: initial;
        height: initial;
        overflow: initial;
    }

    .swiper-mobile {
        display: flex;
    }

    .swiper-slide {
        background: var(--dark);
        border-radius: 45px;
        padding: 42px 50px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1140px) {
    .header__top {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 68px 68px;
    }

    .header__logo {
        justify-self: center;
    }

    .header__nav {
        justify-self: center;
    }

    .burger-icon {
        justify-self: end;
    }

    /* ------------ */

    .hero__inner {
        grid-template-columns: 90vw;
        justify-content: center;
        grid-template-rows: auto;
    }

    .hero__content-title {
        margin: 0 auto;
    }

    .hero__content-text {
        grid-row: 3;
        margin: 0 auto;
    }

    .hero__button {
        grid-row: 4;
        margin: 0 auto;
    }

    .hero__img {
        width: 50vw;
        grid-column: 1;
        grid-row: 2;
        margin: 0 auto;
    }

    .proposal__img {
        right: 2%;
    }
}

@media (max-width: 950px) {
    .proposal__inner {
        display: flex;
        justify-content: space-between;
        padding: 40px;
        height: 355px;
        gap: 15px;
    }

    .proposal__img {
        align-self: center;
        position: unset;
        width: 32vw;
    }
}

@media (max-width: 900px) {
    .header__top {
        display: flex;
        align-items: center;
    }

    .header__logo {
        z-index: 11;
    }

    .header__nav {
        position: fixed;
        z-index: 10;
        background: var(--grey);
        padding: 23vh 0 20vh;
        width: 40vw;
        right: 0;
        top: 0;
        height: 100%;

        transform: translateX(100%);
        opacity: 1;
        visibility: hidden;
        transition: all .7s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .nav__item {
        font-size: 24px;
    }

    .burger--opened .header__nav {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .hero__img {
        width: 70vw;
    }

    .companies-list {
        gap: 15px;
    }

    .services {
        display: flex;
    }

    .services__inner {
        flex-direction: column;
        gap: 30px;
        max-width: 80vw;
        text-align: center;
    }

    .services__title {
        margin: 0 auto;
    }

    .case {
        display: flex;
    }

    .case__inner {
        flex-direction: column;
        gap: 30px;
        max-width: 80vw;
        text-align: center;
    }

    .case__title {
        margin: 0 auto;
    }

    .proposal {
        width: 93vw;
        margin: 0 auto;
    }

    .proposal__content {
        margin: 0 auto;
    }

    .proposal__button {
        width: 100%;
    }

    .proposal__img {
        display: none;
    }

    .swiper-slide__text {
        width: 35vw;
        font-size: 16px;
    }

    .swiper-slide__link {
        font-size: 18px;
        gap: 7px;
    }
}

@media (max-width: 720px) {
    .header__nav {
        inset: 0;
        width: 100%;
        transform: translateY(-100%);
    }

    .nav__item:last-child {
        margin-top: 30px;
    }

    .burger--opened .header__nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .swiper-slide__text {
        width: initial;
    }
}

@media (max-width: 560px) {
    .header {
        padding: 30px 0 60px;
    }

    .hero {
        padding-top: 40px;
    }

    .hero__inner {
        gap: 0;
    }

    .hero__content-title {
        font-size: 10vw;
        max-width: 90vw;
        margin-bottom: 10px;
    }

    .hero__content-text {
        font-size: 4.5vw;
        max-width: 90vw;
        margin-bottom: 40px;
    }

    .hero__img {
        width: 90vw;
        margin-bottom: 20px;
    }

    .hero__button {
        width: 100%;
    }

    .companies-list {
        grid-template-columns: repeat(3, 160px);
    }

    .services {
        padding-bottom: 40px;
    }

    .card {
        position: relative;
    }

    .card__title {
        z-index: 1;
    }

    .card__img {
        width: 165px;
        grid-row: 2;
        grid-column: span 2;
        position: absolute;
        right: 20px;
        bottom: 50px;
    }

    .card__img img {
        width: 100%;
    }

    .learn-more p {
        display: none;
    }

    .proposal__inner {
        height: max-content;
    }

    .proposal__content {
        gap: 20px;
    }

    .proposal__button {
        display: none;
    }

    .proposal__button--mobile {
        display: block;
    }
}

@media (max-width: 440px) {
    .modal__window {
        width: 90vw;
        height: 410px;
        padding: 0 20px;
    }

    .modal__title {
        font-size: 11vw;
    }

    .modal__text {
        min-width: 70vw;
    }

    .proposal__button--mobile {
        font-size: 4.5vw;
        padding: 20px 20px;
    }

    .swiper-slide {
        padding: 35px 35px;
    }
}

@media (max-width: 350px) {
    .card {
        padding: 35px;
    }
}