@import url('../css/global.css');
@import url('../css/header.css');
@import url('../css/cards.css');
@import url('../css/swiper.css');
@import url('../css/accordion.css');
@import url('../css/team.css');
@import url('../css/testimonials.css');
@import url('../css/form.css');

:root {
    --green: #b9ff66;
    --grey: #f3f3f3;
    --dark: #191a23;
    --black: #000;
    --vs-primary: 29 92 255;
}

/* ========================= */
/* ========================= */
/* ========================= */

.footer__inner {
    background: var(--dark);
    border-radius: 45px 45px 0 0;
    padding: 55px 60px 50px 60px;
    color: #fff;
}

.footer__head {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 66px;
}

.footer__img a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__list {
    display: flex;
    gap: 40px;
}

.footer__list-item {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    transition: all .4s;
}

.footer__list-item:hover {
    transform: scale(1.1);
}

.footer__icons {
    display: flex;
    align-items: end;
    gap: 20px;
}

.footer__icons-mobile {
    display: none;
}

.footer__icons a {
    width: 30px;
    height: 30px;
    transition: all .4s;
}

.footer__icons a:hover {
    transform: scale(1.1);
}

.footer__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer__info {
    width: 332px;
    height: 185px;
}

.footer__info a {
    display: block;
    margin-bottom: 20px;
}

.footer__info span:first-child {
    background: var(--green);
    border-radius: 7px;
    padding: 0px 7px;
    width: max-content;
    height: 26px;
    font-weight: 500;
    font-size: 20px;
    color: var(--black);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer__subscribe {
    background: #292a32;
    border-radius: 14px;
    padding: 58px 40px;
    width: 634px;
    height: 184px;
    display: flex;
    gap: 20px;
}

.footer__subscribe input {
    border: 1px solid #fff;
    border-radius: 14px;
    padding: 22px 35px;
    width: 285px;
    height: 67px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    background: #292a32;
}

.footer__subscribe input::placeholder {
    color: #fff;
}

.footer__button {
    background: var(--green);
    color: var(--black);
    padding: 0;
}

.footer__button:hover {
    background: var(--grey);
}

.footer__bottom span {
    border: 1px solid #fff;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.footer__bottom-text {
    display: flex;
    gap: 40px;
}

.footer__bottom-text p {
    line-height: 1.56;
}

.footer__bottom-text a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

/* ========================= */
/* ========================= */
/* ========================= */

@media (max-width: 1300px) {
    .header {
        padding-bottom: 70px;
    }

    .companies-list {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        gap: 30px;
        justify-content: center;
    }

    .companies-item {
        justify-self: end;
    }

    .companies-item:nth-child(4),
    .companies-item:nth-child(5),
    .companies-item:nth-child(6) {
        justify-self: left;
        grid-row: 2;
    }

    .cards {
        padding-bottom: 60px;
    }

    .cards__inner {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .card {
        width: 90vw;
    }

    .proposal {
        padding-bottom: 60px;
    }

    .case {
        padding-bottom: 40px;
    }

    .studies {
        padding-bottom: 60px;
    }

    .studies__swiper {
        display: none;
        background: initial;
        border-radius: initial;
        padding: initial;
        width: initial;
        height: initial;
        overflow: initial;
    }

    .swiper-mobile {
        display: flex;
    }

    .swiper-mobile .studies__swiper-slide {
        max-width: initial;
    }

    .studies__swiper-slide {
        background: var(--dark);
        border-radius: 45px;
        padding: 42px 50px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .accordion {
        padding-bottom: 60px;
    }

    .accordion-list__item {
        width: 90vw;
    }

    .team {
        padding-bottom: 60px;
    }

    .team__head {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }

    .team__head-inner {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .team__head-title {
        margin: 0 auto;
    }

    .team__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team__card {
        width: 46.5vw;
    }

    .team__button {
        margin: 40px auto 0;
        width: 64vw;
    }

    .testimonials {
        padding-bottom: 60px;
    }

    .form {
        padding-bottom: 190px;
    }
}

@media (max-width: 1140px) {
    .header__top {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 68px 68px;
    }

    .header__logo {
        justify-self: center;
    }

    .header__nav {
        justify-self: center;
    }

    .burger-icon {
        justify-self: end;
    }

    /* ------------ */

    .hero {
        padding-top: 40px;
    }

    .hero__inner {
        grid-template-columns: 90vw;
        justify-content: center;
        grid-template-rows: auto;
    }

    .hero__content-title {
        margin: 0 auto;
        text-align: center;
        width: 85vw;
    }

    .hero__content-text {
        grid-row: 3;
        margin: 0 auto;
        text-align: center;
        width: 80vw;
    }

    .hero__button {
        grid-row: 4;
        margin: 0 auto;
        width: 70vw;
    }

    .hero__img {
        width: 50vw;
        grid-column: 1;
        grid-row: 2;
        margin: 0 auto;
    }

    .proposal__img {
        right: 2%;
    }

    .team__button {
        width: 72vw;
    }

    .team__card {
        width: auto;
    }

    .form__inner {
        justify-content: center;
    }

    .form__img {
        display: none;
    }

    .footer__head {
        flex-direction: column;
        align-items: start;
        gap: 37px;
        margin-bottom: 37px;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__info {
        margin-bottom: 40px;
    }

    .footer__subscribe {
        width: 100%;
    }

    .footer__subscribe input {
        width: 55%;
    }

    .footer__button {
        width: 45%;
    }
}

@media (max-width: 950px) {
    .proposal__inner {
        display: flex;
        justify-content: space-between;
        padding: 40px;
        height: 355px;
        gap: 15px;
    }

    .proposal__img {
        align-self: center;
        position: unset;
        width: 32vw;
    }
}

@media (max-width: 900px) {
    .header__top {
        display: flex;
        align-items: center;
    }

    .header__logo {
        z-index: 11;
    }

    .header__nav {
        position: fixed;
        z-index: 10;
        background: var(--grey);
        padding: 23vh 0 20vh;
        width: 40vw;
        right: 0;
        top: 0;
        height: 100%;

        transform: translateX(100%);
        opacity: 1;
        visibility: hidden;
        transition: all .7s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .nav__item {
        font-size: 24px;
    }

    .burger--opened .header__nav {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .hero__img {
        width: 70vw;
    }

    .companies-list {
        gap: 15px;
    }

    .services {
        display: flex;
        justify-content: center;
    }

    .services__inner {
        flex-direction: column;
        gap: 30px;
        max-width: 80vw;
        text-align: center;
    }

    .services__title {
        margin: 0 auto;
    }

    .case {
        display: flex;
        justify-content: center;
    }

    .case__inner {
        flex-direction: column;
        gap: 30px;
        max-width: 80vw;
        text-align: center;
    }

    .case__title {
        margin: 0 auto;
    }

    .process__head {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }

    .process__head-inner {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .process__head-title {
        margin: 0 auto;
    }

    .proposal {
        width: 93vw;
        margin: 0 auto;
    }

    .proposal__content {
        margin: 0 auto;
    }

    .proposal__button {
        width: 100%;
    }

    .proposal__img {
        display: none;
    }

    .swiper-slide__text {
        width: 35vw;
        font-size: 16px;
    }

    .swiper-slide__link {
        font-size: 18px;
        gap: 7px;
    }

    .accordion-list__control {
        padding: 45px 45px;
    }

    .team__inner {
        gap: 30px;
    }

    .team__card {
        width: 75vw;
    }

    .team__card-text {
        width: 90%;
    }

    .testimonials__head {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }

    .testimonials__head-inner {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .testimonials__head-title {
        margin: 0 auto;
    }

    .form__head {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }

    .form__head-inner {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .form__head-title {
        margin: 0 auto;
    }
}

@media (max-width: 720px) {
    .header__nav {
        inset: 0;
        width: 100%;
        transform: translateY(-100%);
    }

    .nav__item:last-child {
        margin-top: 30px;
    }

    .burger--opened .header__nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .swiper-slide__text {
        width: initial;
    }

    .accordion-list__control {
        padding: 35px 35px;
    }

    .accordion-list__control-title {
        font-size: 4vw;
        gap: 15px;
    }

    .accordion-list__control-title span {
        font-size: 7vw;
    }

    .footer .container {
        padding: 0;
    }

    .footer__inner {
        padding: 50px 20px 30px 20px;
        border-radius: 0;
    }

    .footer__head {
        align-items: center;
    }

    .footer__list {
        flex-direction: column;
        align-items: center;
    }

    .footer__list-item {
        text-decoration: none;
    }

    .footer__list-item:last-child {
        display: none;
    }

    .footer__icons {
        display: none;
    }

    .footer__icons-mobile {
        display: flex;
    }

    .footer__content {
        margin-bottom: 37px;
    }

    .footer__info {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 37px;
    }

    .footer__info span {
        margin: 0 auto;
        text-align: center;
    }

    .footer__info a {
        margin: 0 auto;
        text-align: center;
    }

    .footer__subscribe {
        margin-bottom: 37px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        height: initial;
    }

    .footer__subscribe input,
    .footer__button {
        height: 68px;
        width: 75vw;
    }

    .footer__icons-mobile {
        justify-content: center;
    }

    .footer__bottom span {
        margin-bottom: 37px;
    }

    .footer__bottom-text {
        justify-content: center;
    }
}

@media (max-width: 660px) {
    .testimonials__swiper {
        padding: 30px;
    }

    .swiper-slide__bubble {
        width: 85vw;
        height: 300px;
    }

    .swiper-slide__bubble p {
        min-width: initial;
    }

    .testimonials__controls {
        width: 74vw;
        margin: 60px auto 60px;
    }

    .testimonials-next a,
    .testimonials-prev a {
        padding: 0;
    }

    .form__inner {
        display: flex;
    }

    .form__content {
        min-width: initial;
    }

    .form__radio {
        justify-content: center;
        gap: 60px;
    }

    .form__control {
        margin-bottom: 35px;
    }

    .form__data {
        width: 85vw;
        margin: 0 auto;
    }

    .form__data input {
        width: 100%;
    }

    .form-message__textarea {
        width: 100%;
    }
}

@media (max-width: 560px) {
    .header {
        padding: 30px 0 60px;
    }

    .hero {
        padding-top: 40px;
    }

    .hero__inner {
        gap: 0;
    }

    .hero__content-title {
        font-size: 10vw;
        max-width: 90vw;
        margin-bottom: 10px;
    }

    .hero__content-text {
        font-size: 4.5vw;
        max-width: 90vw;
        margin-bottom: 40px;
    }

    .hero__img {
        width: 90vw;
        margin-bottom: 20px;
    }

    .hero__button {
        width: 100%;
    }

    .companies-list {
        grid-template-columns: repeat(3, 160px);
    }

    .services {
        padding-bottom: 40px;
    }

    .card {
        position: relative;
    }

    .card__title {
        z-index: 1;
    }

    .card__img {
        width: 165px;
        grid-row: 2;
        grid-column: span 2;
        position: absolute;
        right: 20px;
        bottom: 50px;
    }

    .card__img img {
        width: 100%;
    }

    .learn-more p {
        display: none;
    }

    .proposal__inner {
        height: max-content;
    }

    .proposal__content {
        gap: 20px;
    }

    .proposal__button {
        display: none;
    }

    .proposal__button--mobile {
        display: block;
    }

    .accordion-list__item {
        margin-bottom: 20px;
    }

    .accordion-list__control {
        padding: 30px;
    }

    .accordion-list__control-icon {
        width: 45px;
        height: 45px;
    }

    .accordion-list__control-icon::before,
    .accordion-list__control-icon::after {
        width: 20px;
        height: 4px;
    }

    .team__card {
        width: 92vw;
    }

    .team__button {
        width: 100%;
    }

    .swiper-slide__bubble {
        height: 330px;
    }

    .testimonials-pagination {
        gap: 10px;
    }

    .swiper-pagination-bullet {
        background-size: 18px;
    }

    .form__inner {
        padding: 40px 30px;
        position: relative;
    }

    .form__radio {
        justify-content: center;
    }

    .form__control {
        margin-bottom: 25px;
    }

    .form__button {
        position: absolute;
        margin-top: 0;
        top: calc(100% + 30px);
        left: 0;
        width: 100%;
    }

    .footer__bottom-text {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
        font-size: 17px;
    }
}

@media (max-width: 440px) {
    .modal__window {
        width: 90vw;
        height: 410px;
        padding: 0 20px;
    }

    .modal__title {
        font-size: 11vw;
    }

    .modal__text {
        min-width: 70vw;
    }

    .proposal__button--mobile {
        font-size: 4.5vw;
        padding: 20px 20px;
    }

    .studies__swiper-slide {
        padding: 35px 35px;
    }

    .accordion-list__control {
        padding: 25px 25px;
        gap: 15px;
    }

    .process__head-title {
        display: flex;
        flex-direction: column;
    }

    .accordion-content {
        padding: 0 25px 25px;
    }

    .accordion-content__text {
        font-size: 4.5vw;
    }

    .team__card {
        padding: 30px 20px;
    }

    .team__card-info {
        max-width: 167px;
    }

    .team__card-icon {
        top: 7%;
        right: 5%;
    }

    .team__card-text {
        width: 290px;
    }

    .testimonials__swiper {
        padding: 20px 30px;
    }

    .swiper-slide__bubble {
        height: 90%;
        padding: 25px 25px;
    }

    .swiper-slide__bubble p {
        font-size: 16px;
    }

    .swiper-slide__bubble:after {
        bottom: -29px;
    }

    .testimonials__controls {
        width: 70vw;
    }

    .testimonials-pagination {
        gap: 0;
    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        background-size: 14px;
    }

    .form__radio {
        gap: 40px;
    }

    .footer__info {
        width: 90vw;
    }
}

@media (max-width: 350px) {
    .card {
        padding: 35px;
    }

    .form__radio {
        gap: 20px;
    }
}