@import url('../css/header.css');

:root {
    --font-family: "Poppins", sans-serif;
}

.body {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    background: url("../img/background/section.jpg");
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #000;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ========================= */
/* ========================= */
/* ========================= */
/* companies */

.companies__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 79px 0;
}

.companies__text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    background: linear-gradient(90deg, #9945ff 8%, #8752f3 28.33%, #5497d5 42.1%, #43b4ca 64.01%, #28e0b9 79.81%, #19fb9b 97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.companies__col {
    display: flex;
    gap: 30px;
}