body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.decoration {
  text-decoration: line-through;
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
  text-align: center;
}

.words {
  word-spacing: 20px;
  text-shadow: #3428df56 2px 2px 3px;
  text-decoration: wavy overline;
}

.letters {
  letter-spacing: 7px;
  text-decoration: underline double;
}